@page {
  size: A4 portrait;
  margin: 1cm;
}

@media print {
  body, html {
    background: white;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    font-size: 9pt;
  }
}

.print-preview-background {
  background-color: #000000;
  /* padding: 0.5rem; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.print-outer-container {
  width: 210mm;
  height: 297mm;
  padding: 1cm;
  background: white;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.print-content-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: grid;
  /* 5つの行の高さを定義。最後のメモだけが残りのスペースを埋めるようにする */
  grid-template-rows: auto 11cm auto auto 1fr;
  gap: 0.5rem;
}

.print-gantt-card {
  height: 11cm;
  border: 1px solid #e5e7eb;
  padding: 0.5rem;
  border-radius: 0.5rem;
  overflow: hidden;
}
.print-table-card {
  height: max-content;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.print-table h2 {
  font-size: 12pt;
  margin-bottom: 0.25rem;
  border-bottom: 1px solid #e5e7eb;
}
.print-table table {
  table-layout: fixed;
}
.print-table th, .print-table td {
  padding: 2px 4px;
  font-size: 7.5pt;
  vertical-align: top;
  border: 1px solid #ccc;
}

.print-table th, .print-table td {
  padding: 4px 2px;
  vertical-align: middle;
  border-right: 1px solid #ccc;
  text-align: center; /* デフォルトを中央揃えに */
}
.print-table th {
  font-weight: 600; /* ヘッダーの文字を太く */
}
.print-table th:last-child, .print-table td:last-child {
  border-right: none;
}

/* 船名と備考列だけ左寄せに上書き */
/* .print-table th:nth-child(2), .print-table td:nth-child(2),
.print-table th:nth-child(14), .print-table td:nth-child(14) {
  text-align: left;
  padding-left: 4px;
} */
/* 船名と備考列だけ左寄せに上書き */
.print-table td:nth-child(2),
.print-table td:nth-child(14) {
  text-align: left;
  padding-left: 4px;
}